@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --color-primary: #4502C7;
    --color-text-2: #25282B
}

* {
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}

body {
    background-color: #F8F8F8;
    margin: 0;
}

a {
    text-decoration: none;
}

img{
    display: block;
}

/* Container */
.container {
    width: 1184px;
    margin: 0 auto;
}

@media(max-width: 1199.98px) {
    .container {
        width: 960px;
    }
}

@media (max-width: 991.98px) {
    .container {
        width: 720px;
    }
}

@media (max-width: 767.98px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
        padding: 0 16px;
    }
}

/* End-Container */

/* Top-Header */
.top-header {
    background-color: var(--color-primary);
    padding: 10px 0;
}

.top-header .inner-wrap {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.top-header .inner-item {
    color: #FFF;
    font-weight: 400;
    font-size: 14px;
    display: inline-flex;
    gap: 8px;
    align-items: center; 
    cursor: pointer;
}

.top-header .inner.item i {
    font-size: 20px;
}

@media (max-width: 767.98px) {
    .top-header {
        display: none;
    }
}

/* End-Top-Header */

/* Header */
.header {
    padding: 12px 0;
    background-color: #FFF;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-logo img {
    width: auto;
    height: 50px;
}

.header .inner-menu>ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 40px;
    cursor: pointer;
}

.header .inner-menu>ul>li {
    position: relative;
}

.header .inner-menu>ul>li>a {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text-2);
    text-transform: capitalize;
}

.header .inner-menu>ul>li>a.active,
.header .inner-menu>ul>li>a:hover {
    color: var(--color-primary);
}

.header .inner-menu>ul>li>ul {
    position: absolute;
    list-style: none;
    padding: 8px 0;
    margin: 0;
    top: 100%;
    left: 0;
    background-color: #FFF;
    border-radius: 0 0 10px 10px;
    width: 280px;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: none;
}

.header .inner-menu>ul>li:hover>ul {
    display: block;
}

.header .inner-menu>ul>li>ul a {
    display: block;
    padding: 8px 22px;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-primary);

}

.header .inner-menu>ul>li>ul a:hover {
    background-color: #4502C7;
    color: #FFF;
}

.header .inner-cart a {
    display: inline-flex;
    align-items: center;
}

.header .inner-cart a img {
    width: auto;
    height: 26px;
}

.header .inner-cart a span {
    width: auto;
    background-color: #FF3904;
    border-radius: 3px;
    font-weight: 400;
    font-size: 10px;
    color: #FFF;
    display: inline-block;
    padding: 1px 5px;
    position: relative;
    margin-left: 4px;
}

.header .inner-cart span::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-right: 3.7px solid #FF3904;
    position: absolute;
    left: -3.6px;
    top: 4.5px;
}

.header .inner-menu-mobile {
    display: none;
    background-color: #FFF;
    border: 0;
    padding: 0;
    font-size: 22px;
    cursor: pointer;
    color: #25282B;
}

@media (max-width: 1199.98px) {
    .header .inner-menu>ul {
        gap: 24px;
        cursor: pointer;
    }

    .header .inner-menu>ul>li>a {
        font-size: 15px;
    }
}

@media (max-width: 991.98px) {
    .header .inner-menu {
        display: none;
    }

    .header .inner-menu-mobile {
        display: inline-block;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .header {
        padding: 15px 0;
    }

    .header .inner-logo img {
        width: auto;
        height: 40px;
    }
}

/* End-Header */

/* Section-1 */
.section-1 {
    padding: 106px 0 108px 0;
    background-image: url(../images/background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section-1 .inner-wrap {
    width: 768px;
    margin: 0 auto;
}

.section-1 .inner-title {
    text-align: center;
    color: var(--color-primary);
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.8px;
    margin: 0 0 20px 0;
}

.section-1 .inner-desc {
    text-align: center;
    color: #25282B;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 30px;
}

.section-1 .inner-form {
    background-color: #00000066;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 22.5px
}

.section-1 .inner-address {
    width: 100%;
}

.section-1 .inner-user,
.section-1 .inner-calendar {
    width: 37.5%;
}

.section-1 .inner-form .inner-button {
    flex: 1;
    color: #FFF;
    background-color: var(--color-primary);
    box-shadow: 0px 3.3px 3.3px 0px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.section-1 .inner-form .inner-button:hover{
    color: var(--color-primary);
    background-color: #FFF;
    transition: all 0.3s ease-in-out;
}

.section-1 .inner-form .inner-button i {
    font-size: 20px;
}

.section-1 .inner-form .inner-input-group {
    background-color: #FFF;
    border-radius: 10px;
    padding: 18px 12px;
    display: flex;
    align-items: center;
}

.section-1 .inner-form .inner-input-group .inner-icon {
    height: 20px;
    width: auto;
    margin-right: 14px;
}

.section-1 .inner-form .inner-input-group .inner-input {
    flex: 1;
    outline: none;
    border: none;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.6px;
}

.section-1 .inner-form .inner-input-group .inner-input::placeholder {
    color: #A6A6A6;
}

.section-1 .inner-form .inner-down {
    font-size: 11px;
    color: #4502C7;
}

@media (max-width: 991.98px) {
    .section-1 .inner-wrap {
        width: 100%;
    }

    .section-1 .inner-title {
        font-size: 30px;
    }

    .section-1 .inner-desc {
        font-size: 14px;
    }

    .section-1 .inner-form {
        padding: 18px;
        gap: 15px;
    }
}

@media (max-width: 767.98px) {
    .section-1 {
        padding: 106px 0 106px 0;
    }

    .section-1 .inner-title {
        font-size: 27px;
    }

    .section-1 .inner-form {
        padding: 15px;
        gap: 12px;
    }

    .section-1 .inner-user,
    .section-1 .inner-calendar {
        width: 100%;
    }

    .section-1 .inner-form .inner-button {
        height: 58px;
    }
}

@media (max-width: 575.98px) {
    .section-1 {
        padding: 106px 0 106px 0;
    }

    .section-1 .inner-title {
        font-size: 27px;
    }

    .section-1 .inner-desc {
        font-size: 14px;
    }

    .section-1 .inner-form {
        padding: 15px;
        gap: 12px;
    }

    .section-1 .inner-user,
    .section-1 .inner-calendar {
        width: 100%;
    }

    .section-1 .inner-form .inner-button {
        height: 58px;
    }
}

@media (max-width: 375.98px) {
    .section-1 {
        padding: 106px 0 106px 0;
    }

    .section-1 .inner-title {
        font-size: 25px;
    }

    .section-1 .inner-desc {
        font-size: 13px;
    }

    .section-1 .inner-form {
        padding: 15px;
        gap: 12px;
    }

    .section-1 .inner-user,
    .section-1 .inner-calendar {
        width: 100%;
    }

    .section-1 .inner-form .inner-button {
        height: 58px;
    }
}

/* End-Section-1 */

/* Section-2 */

.section-2 {
    padding: 60px 0;
}

.section-2 .inner-wrap {
    background-color: var(--color-primary);
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 10px;
    padding: 32px 27px 32px 23px;
    display: flex;
    gap: 32px;
}

.section-2 .inner-info {
    width: calc(25% - 32px);
    text-align: center;
}

.section-2 .inner-info .inner-title {
    color: #FFF;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%;
    margin-top: 24px;
    margin-bottom: 10px;
}

.section-2 .inner-info .inner-desc {
    color: #FFF;
    font-size: 11.5px;
    font-weight: 400;
    margin-bottom: 36px;
    line-height: 11px;
}

.section-2 .inner-info .inner-clock-title {
    font-size: 21px;
    color: #FFF;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 17px;
}

.section-2 .inner-info .inner-clock-number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 17px;
    margin-bottom: 47px;
}

.section-2 .inner-info .inner-clock-number span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    width: 57px;
    height: 57px;
    font-size: 30px;
    font-weight: 700;
    color: #4502C7;
    border-radius: 10px;
}

.section-2 .inner-info .inner-discount-title {
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
}

.section-2 .inner-info .inner-discount-price {
    font-size: 40px;
    font-weight: 700;
    color: #FFD63A;
}

.section-2 .inner-info .inner-discount-price .inner-unit {
    text-decoration: underline;
}

.section-2 .inner-list {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media (max-width: 1199.98px){
    .section-2 .inner-info {
        width: calc(32% - 32px);
    }
    .section-2 .inner-list {
        width: 68%;
        grid-template-columns: repeat(2, 1fr);
    }
    .section-2 .product-item:nth-child(3) {
        display: none;
    }
}
@media (max-width: 991.98px){
    .section-2 .inner-info {
        width: calc(50% - 32px);
    }
    .section-2 .inner-list {
        width: 50%;
        grid-template-columns: repeat(1, 1fr);
    }
    .section-2 .product-item:nth-child(2) {
        display: none;
    }

}
@media (max-width: 767.98px){
    .section-2 .inner-wrap {
        flex-wrap: wrap;
        gap: 32px;
    }
    .section-2 .inner-info {
        width: 100%;
    }
    .section-2 .inner-list {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .section-2 .product-item:nth-child(2) {
        display: none;
    }
}
@media (max-width: 575.98px){
    .section-2{
        padding: 45px 0;
    }
    .section-2 .inner-wrap {
        padding: 30px 15px;
    }
    .section-2 .inner-info .inner-title {
        margin-top: 0;
    }
    .section-2 .product-item .inner-content .inner-desc-tour {
        font-size: 11px;
    }
}

/*End-Section-2 */

/* Product-Item */

.product-item {
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2.38px 2.38px 0px #00000040;
}

.product-item .inner-image {
    aspect-ratio: 271/237;
    border-radius: 10px;
    margin-bottom: -18px;
}

.product-item .inner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-item .inner-discount {
    display: inline-flex;
    border-radius: 0 32px 32px 0;
    background-color: #DA0808;
    align-items: center;
    justify-content: center;
    padding: 4px 10px 4px 5px;
    color: #FFF;
    gap: 6px;
    font-size: 11px;
    font-weight: 600;
    line-height: 15.45px;
    text-transform: uppercase;
}

.product-item .inner-discount i {
    color: #F2C94C;
}

.product-item .inner-content {
    padding: 15px;
}

.product-item .inner-content .inner-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 125%;
    margin-top: 0;
    margin-bottom: 6px;
    height: 35px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* Thuộc tính này để thêm dấu "..." ở sau đoạn văn khi đoạn văn dài và được ẩn đi */
    /* -webkit-line-clamp: 2; */
}

.product-item .inner-content .inner-title a {
    color: #25282B;
}

.product-item .inner-content .inner-title a:hover {
    color: var(--color-primary);
}

.product-item .inner-content .inner-prices {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 11.5px;
    margin-bottom: 6px;
}

.product-item .inner-content .inner-price-old{
    font-size: 15px;
    font-weight: 600;
    color: #52575C;
    text-decoration: line-through;
}

.product-item .inner-content .inner-price-new{
    font-size: 15px;
    font-weight: 700;
    color: #DA0808;
}

.product-item .inner-content .inner-prices .inner-unit{
    text-decoration: underline;
}

.product-item .inner-content .inner-desc{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.product-item .inner-content .inner-desc-tour{
    font-size: 11px;
    font-weight: 400;
    color: #8C8C8C;
}

.product-item .inner-content .inner-meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-item .inner-content .inner-rating{
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.product-item .inner-content .inner-rating .inner-stars{
    font-size: 12.5px;
    color: #FFD600;
}

.product-item .inner-content .inner-rating{
    font-size: 11px;
    font-weight: 400;
    color: #8C8C8C;
}
.product-item .inner-content .inner-stock{
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.product-item .inner-content .inner-stock .inner-label{
    font-size: 11px;
    font-weight: 700;
}

.product-item .inner-content .inner-stock .inner-number{
    font-size: 14px;
    font-weight: 700;
    color: #FFF;
    background-color: #DA0808;
    padding: 7px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 575.98px){
    .product-item .inner-content{
        padding: 10px;
    }
    .product-item .inner-content .inner-price-old {
        font-size: 14px;
    }
    .product-item .inner-content .inner-price-new {
        font-size: 14px;
    }
    .product-item .inner-content .inner-desc-tour {
        font-size: 10px;
    }
    .product-item .inner-content .inner-meta{
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media (max-width: 374.98px){
    .product-item .inner-content .inner-stock{
        flex-direction: column;
        align-items: flex-start;
    }
}

/* Product-Item */

/* Box-title */

.box-title{
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    text-align: center;
}

@media (max-width: 991.98px) {
    .box-title{
        margin-bottom: 25px;
        font-size: 24px;
    } 
}

/* Box-title */

/* Section-3 */
.section-3{
    padding-bottom: 60px;
}

.section-3 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.section-3 .inner-item{
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 382/269;
}

.section-3 .inner-item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

@media (max-width: 1199.98px){
    .section-3 .inner-wrap{
        width: 100%;
    }
}

@media (max-width: 991.98px) {
    .section-3 .inner-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767.98px) {
    .section-3{
        padding-bottom: 45px;
    }
    .section-3 .inner-wrap{
        grid-template-columns: repeat(1, 1fr);
    }
}
/* End-Section-3 */

/* Section-4 */
.section-4{
    padding-bottom: 60px;
}

.section-4 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section-4 .inner-button{
    margin-top: 35px;
    text-align: center;
}

@media (max-width: 1199.98px){
    .section-4 .inner-wrap{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 991.98px){
    .section-4 .inner-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px){
    .section-4 {
        padding-bottom: 45px;
    }
    .section-4 .inner-wrap{
        gap: 10px;
    }
    .section-4 .inner-button{
        margin-top: 25px;
    }
    .section-4 .button-ouline{
        padding: 10px 22px;
        font-size: 14px;
    }
}
/*End-Section-4 */

/* button */
.button-ouline{
    display: inline-block;
    border: 2px solid var(--color-primary);
    border-radius: 6.5px;
    background-color: #FFF;
    padding: 12px 25px;
    font-weight: 500;
    font-size: 16px;
    color: var(--color-primary);
    transition: all 0.3s ease-out;
}

.button-ouline:hover{
    background-color: var(--color-primary);
    color: #FFF;
    transition: all 0.3s ease-out;
}
/* button */

/* Section-5 */

.section-5{
    padding-bottom: 60px;
}

.section-5 .inner-image{
    border-radius: 10px;
    overflow: hidden;
}

.section-5 .inner-image img{
    height: auto;
    width: 100%;
}

@media (max-width: 767.98px){
    .section-5{
        padding-bottom: 45px;
    }
}
/* Section-5 */

/* Section-6 */
.section-6{
    padding-bottom: 60px;
}

.section-6 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section-6 .inner-button{
    margin-top: 35px;
    text-align: center;
}

@media (max-width: 1199.98px){
    .section-6 .inner-wrap{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 991.98px){
    .section-6 .inner-wrap{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 575.98px){
    .section-6 {
        padding-bottom: 45px;
    }
    .section-6 .inner-wrap{
        gap: 10px;
    }
    .section-6 .inner-button{
        margin-top: 25px;
    }
    .section-6 .button-ouline{
        padding: 10px 22px;
        font-size: 14px;
    }
}
/* Section-6 */

/* Section-7 */

.section-7{
    padding-bottom: 60px;
}

.section-7 .inner-wrap{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px 20px;
}


.section-7 .blog-item-2{
    grid-column: span 2;
    grid-row: span 2;
    box-shadow: 0px 0px 4px 0px #00000040;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FFF;
}

.section-7 .blog-item-2 .inner-image{
    aspect-ratio: 536/400;
}

.section-7 .blog-item-2 .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-7 .blog-item-2 .inner-content{
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section-7 .blog-item-2 .inner-content .inner-date{
    font-weight: 300;
    font-size: 14px;
    color: #000;
}

.section-7 .blog-item-2 .inner-content .inner-title{
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    color: var(--color-primary);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* Thuộc tính này để thêm dấu "..." ở sau đoạn văn khi đoạn văn dài và được ẩn đi */
    -webkit-line-clamp: 1;
}

.section-7 .blog-item-2 .inner-content .inner-desc{
    font-size: 14px;
    font-weight: 300;
    color: #000;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* Thuộc tính này để thêm dấu "..." ở sau đoạn văn khi đoạn văn dài và được ẩn đi */
    -webkit-line-clamp: 2;
}

@media (max-width: 991.98px){
    .section-7 .inner-wrap{
        grid-template-columns: repeat(2, 1fr);
    }

    .section-7 .blog-item-2{
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

@media (max-width: 575.98px){
    .section-7{
        padding-bottom: 45px;
    }
    .section-7 .inner-wrap {
        gap: 10px;
    }
    .section-7 .blog-item-2{
        border-radius: 10px;
    }
    .section-7 .blog-item-2 .inner-content{
        padding: 10px;
    }
    .section-7 .blog-item-2 .inner-content .inner-date{
        font-size: 12px;
    }
    .section-7 .blog-item-2 .inner-content .inner-title{
        font-size: 18px;
    }
}

/*End-Section-7 */


/* Blog-item */

.blog-item{
    aspect-ratio: 302/308;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.blog-item .inner-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-item .inner-content{
    position: absolute;
    color: #DDD;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(69, 2, 199, 0) 58.85%, rgba(69, 2, 199, 0.9) 100%);
    width: 100%;
    height: 100%;
    padding: 18px 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
}

.blog-item .inner-content .inner-date{
    font-weight: 400;
    font-size: 12px;
    color: #FFF;
}

.blog-item .inner-content .inner-title{
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    color: #FFF;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* Thuộc tính này để thêm dấu "..." ở sau đoạn văn khi đoạn văn dài và được ẩn đi */
    -webkit-line-clamp: 2;
}

@media (max-width: 575.98px){
    .blog-item{
        border-radius: 10px;
    }
    .blog-item .inner-content{
        padding: 10px;
        gap: 6px;
    }
    .blog-item .inner-content .inner-date{
        font-size: 10px;
    }
    .blog-item .inner-content .inner-title{
        font-size: 14px;
    }
}
/* Blog-item */


/* Footer */

.footer{
    background-color: #ECECEC;
    border-radius: 40px 40px 0 0;
    padding: 60px 0 40px 0;
}

.footer .inner-top{
    border-radius: 16px;
    background-color: var(--color-primary);
    padding: 32px;
    display: flex;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
}

.footer .inner-top .inner-title{
    width: 389px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #FDFDFD;
    text-transform: capitalize;
}

.footer .inner-top .inner-form{
    flex: 1;
    background-color: #FFFFFF;
    border-radius: 14px;
    padding: 12px;
    display: flex;
    gap: 12px;
}

.footer .inner-top .inner-form input{
    flex: 1;
    outline: 0;
    border: 1px solid #99A2A5;
    padding: 0 28px;
    border-radius: 8px;
}

.footer .inner-top .inner-form input::placeholder{
    font-size: 14px;
    font-weight: 500;
    color: #99A2A5;
}

.footer .inner-top .inner-form button{
    background-color: var(--color-primary);
    color: #FDFDFD;
    padding: 12px 23.5px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    height: 48px;
}

.footer .inner-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #CCD1D2;
    margin-bottom: 40px;
}
  
.footer .inner-middle .inner-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px 40px;
}
  
.footer .inner-middle .inner-links ul li a {
    font-weight: 500;
    font-size: 14px;
    color: #25282B;
  }
  
.footer .inner-middle .inner-links ul li a:hover {
    color: var(--color-primary);
}
  
.footer .inner-middle .inner-socials ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    gap: 10px 40px;
}
  
.footer .inner-middle .inner-socials ul li a {
    font-size: 24px;
    color: #25282B;
}
  
.footer .inner-middle .inner-socials ul li a:hover {
    color: var(--color-primary);
}
  
.footer .inner-bottom {
    display: flex;
    align-items: center;
}
  
.footer .inner-bottom .inner-logo {
    width: 224px;
}

.footer .inner-bottom .inner-logo img{
    width: 100%;
    height: auto;
}

.footer .inner-bottom .inner-copyright,
.footer .inner-bottom .inner-bottom-links {
    width: calc(50% - 112px);
}

.footer .inner-bottom .inner-copyright{
    font-size: 13px;
    font-weight: 500;
    color: #667479;
}

.footer .inner-bottom .inner-bottom-links ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
    gap: 10px 30px;
}

.footer .inner-bottom .inner-bottom-links ul li a{
    font-size: 13px;
    font-weight: 500;
    color: #667479;
}
/* End-Footer */